---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import Section from "@/components/Section.astro";
import NoteFeed from "@/components/NoteFeed.astro";
import Feed from "@/components/Feed.astro";

import { getAllPosts, getAllNotes, getAllEntries } from "@/utils/content";
import { getMetaValues, filterByMetaSlug } from "@/utils/browse";
import { getConfig } from "@/utils/config";
import type { BrowseIndexConfig } from "@/types";

export async function getStaticPaths() {
  const siteConfig = await getConfig();
  const indexes = siteConfig.browse?.indexes ?? [];
  const allEntries = await getAllEntries();

  return indexes.flatMap((index) =>
    getMetaValues(allEntries, index.key).map(({ value, slug }) => ({
      params: { slug: index.slug, value: slug },
      props: { index, value },
    }))
  );
}

interface Props {
  index: BrowseIndexConfig;
  value: string;
}

const { index, value } = Astro.props as Props;
const { value: valueSlug } = Astro.params;

const allPosts = await getAllPosts();
const allNotes = await getAllNotes();

const filteredPosts = filterByMetaSlug(allPosts, index.key, valueSlug!)
const filteredNotes = filterByMetaSlug(allNotes, index.key, valueSlug!)

const pageTitle = `${value}`;
const pageLede = `Articles and notes related to ${value}`;
---
<BaseLayout title={`${value} · ${index.title}`}>
  <div class="page-width">
    <PageHeader
      title={pageTitle}
      lede={pageLede}
    />

    { filteredPosts.length > 0 && (
      <Section title="Articles" href="/posts" action="View All">
        <Feed entries={filteredPosts} />
      </Section>
    )}
    
    { filteredNotes.length > 0 && (
      <Section title="Notes" href="/notes" action="View All">
        <NoteFeed entries={filteredNotes} />
      </Section>
    )}
  </div>
</BaseLayout>