---
import { Icon } from "astro-icon/components";
import { cn } from "@/utils/commonFunctions"

interface Props {
  href: string;
  className?: string;
  leftIcon?: string;
  rightIcon?: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
  isCard?: boolean;
}

const { href, className = "", leftIcon, rightIcon, external, underline = false, group = false, isCard = false, ...rest} = Astro.props;
---
{
  isCard ? (
  <a
    href={href}
    target={external ? "_blank" : "_self"}
    class={cn(
      "rounded-xl hover:bg-black/5 hover:text-black dark:hover:bg-white/5 dark:hover:text-white transition-all duration-300 ease-in-out",
      group && "group",
      className
    )}
    {...rest}
  >
    { leftIcon && <Icon name={leftIcon} width={24} height={24} class="mr-1" /> }
    <slot />
    { rightIcon && <Icon name={rightIcon} width={24} height={24} class="ml-1" /> }
  </a>
  ) : (
    <a
      href={href}
      target={external ? "_blank" : "_self"}
      class={cn(
        "hover:text-orange-500 dark:hover:text-orange-500 transition-all duration-300 ease-in-out",
        underline && "underline underline-offset-[3px]",
        group && "group",
        className
      )}
      {...rest}
    >
      { leftIcon && <Icon name={leftIcon} width={20} height={20} class="mr-1 text-neutral-500" /> }
      <slot />
      { rightIcon && <Icon name={rightIcon} width={20} height={20} class="ml-1 text-neutral-500" /> }
    </a>
  )
}