---
import BaseHead from "@/components/BaseHead.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import MobileDrawer from "@/components/MobileDrawer.astro"
import BottomNavbar from "@/components/BottomNavbar.astro";
import PageTitle from "@/components/PageTitle.astro"
import Container from "@/components/Container.astro";

import { SiteMeta } from "@/configs/consts";
type Props = {
  pageTitle: string;
  pageDesc: string;
	showTitle?: boolean;
};

const { pageTitle, pageDesc, showTitle = true } = Astro.props;

---
<!doctype html>
<html lang="en" class="text-base h-full antialiased">
	<head>
		<BaseHead title={`${pageTitle} | ${SiteMeta.siteTitle}`} description={pageDesc} />
	</head>
	<body class="bg-neutral-200 text-neutral-800 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-500 ease-in-out">
		<Header />
		<main>
			<Container>
				{
					showTitle && <PageTitle title=`${pageTitle}` desc=`${pageDesc}` />
				}
			</Container>
			<slot />
		</main>
		<!-- <BottomNavbar /> -->
		<Footer />
	</body>
</html>